NET "input_value[0]" LOC = "D17" | IOSTANDARD = LVCMOS33;
NET "input_value[1]" LOC = "D15" | IOSTANDARD = LVCMOS33;
NET "input_value[2]" LOC = "C14" | IOSTANDARD = LVCMOS33;
NET "input_value[3]" LOC = "D11" | IOSTANDARD = LVCMOS33;
NET "input_value[4]" LOC = "E16" | IOSTANDARD = LVCMOS33;
NET "input_value[5]" LOC = "C16" | IOSTANDARD = LVCMOS33;
NET "restart" LOC = "D10" | IOSTANDARD = LVCMOS33;
NET "turn_zero" LOC = "C8" | IOSTANDARD = LVCMOS33;
NET "rst" LOC = "D8" | IOSTANDARD = LVCMOS33;
NET "ss" LOC = "B12" | IOSTANDARD = LVCMOS33;
NET "mosi" LOC = "A12" | IOSTANDARD = LVCMOS33;
NET "miso" LOC = "C13" | IOSTANDARD = LVCMOS33;
NET "sclk" LOC = "A13" | IOSTANDARD = LVCMOS33;
NET "state[0]" LOC = "A20" | IOSTANDARD = SSTL15_II;
NET "state[1]" LOC = "A21" | IOSTANDARD = SSTL15_II;
NET "state[2]" LOC = "B21" | IOSTANDARD = SSTL15_II;
NET "state[3]" LOC = "B22" | IOSTANDARD = SSTL15_II;
NET "state[4]" LOC = "J16" | IOSTANDARD = SSTL15_II;
NET "state[5]" LOC = "K16" | IOSTANDARD = SSTL15_II;
NET "set" LOC = "G17" | IOSTANDARD = SSTL15_II;
NET "start" LOC = "G16" | IOSTANDARD = SSTL15_II;
NET "suspend" LOC = "F17" | IOSTANDARD = SSTL15_II;
NET "clk" LOC = "AA12" | IOSTANDARD = LVCMOS33;
